body {
    background-image: url(/assets/clockbg.png);
    background-size: cover;
}

#nextshift {
font-weight: bold;
color: #fca103;
}

ul.schedule {
    margin: 0;
    font-size: 1.2em;
}

.form {
    margin-top: 1em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

input:focus {
    outline: solid 1px #6c9abb;
}

textarea {
    overflow: hidden;
    font-family: Arial;
    resize: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

textarea:focus {
    outline: solid 1px #6c9abb;
}

button {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #4b6b82;
    color: #f2f2f2;
    font-size: 1.2em;
    transition: background-color 0.5s, box-shadow 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: #3c596f;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0 0 6px 0px #939393;
}


@media only screen and (max-device-width: 480px) {
    body {
        height: calc(100% + 4em);
    }

    .container {
        font-size: 0.9em;
        top: 30vh !important;
        margin: 15 auto !important;
        width: 90% !important;
        float: none !important;
    }
}
