body {
    background-image: url(/assets/userbg.png);
    background-size: cover;
}

.form-elements > fieldset {
    border: none;

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

button {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #6c9abb;
    color: #f2f2f2;
}

textarea {
    overflow: hidden;
    font-family: Arial;
    resize: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}