body {
    background-image: url(/assets/heartbg.png);
    background-size: cover;
}

.container > p {
    margin-bottom: 0;
}

.container > p > a {
    color: #347aeb;
    text-decoration: none;
    border-bottom: 1px solid;
}
