body {
    background-image: url(/assets/heartbg.png);
    background-size: cover;
}

.container {
    top: 20% !important;
}

.container > p {
    margin-bottom: 0;
}

.container > p > a {
    color: #347aeb;
    text-decoration: none;
    border-bottom: 1px solid;
}

@media only screen and (max-device-width: 480px) {
    body {
        height: calc(100% + 4em);
    }

    .container {
        top: 6em !important;
    }
}