#navbar {
  overflow: hidden;
  background-color: #192a36;
}

#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #c4d7e4;
  color: black;
}

#navbar a.active {
  background-color: #6c9abb;
  color: white;
}
